*{
    margin:0;
    padding:0;
}

#header{
    background: linear-gradient(to right, #ec8906, #555553);
    text-align: center;
    color: white;
}
 
figure>img{
    width: 50%;
    height: 50%;
}
#deconnection{
    text-align: center;
}
#flex{
    padding: 50px;
}



   


